.button {
    padding: 5px 12px;
    margin: 10px auto;
    font-size: 18px;
    line-height: 24px;
    min-width: 180px;
    background-color: #415ae6;
    text-align: center;
    display: block;
    color: #fff;
    border: 0;
    cursor: pointer;
}

.button:hover,
.button:focus {
    background-color: #323a69;
}