.searchbar {
    top: 0;
    left: 0;
    position: sticky;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #fff;
    background-color: #415ae6;
}

.searchForm {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
    background-color: #fff;
}

.searchFormButton {
    display: inline-block;
    padding: 15px 10px;
    width: 54px;
    height: 48px;
    border: 0;
    background-image: url('https://cdn-icons-png.flaticon.com/512/49/49116.png');
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.6;
    cursor: pointer;
    outline: none;
}

.searchFormButton:hover {
    opacity: 1;
}

.searchFormButtonLabel {
    position: absolute;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    clip-path: inset(50%);
    border: 0;
}

.searchFormInput {
    display: inline-block;
    width: 100%;
    height: 100%;
    font: inherit;
    font-size: 20px;
    border: none;
    outline: none;
    padding-left: 8px;
    padding-right: 4px;
}

.searchFormInput::placeholder {
    font: inherit;
    font-size: 20px;
}